.note{
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.dark-mode{
  background-color: #121212;
}

.dark-mode h1{
  color: white;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}
.note.new {
  background-color: #67d7cc;
 
}
textarea{
  border: none;
  resize: none;
  background-color: #67d7cc;

}
textarea:focus{
  outline: none;
}
.save:hover{
  cursor: pointer;
  background-color:  #ededed;
}
.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.delete-icon{
  cursor: pointer;
}
.search{
  display: flex;
  align-items: center;
  background-color: rgb(233,233,233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5rem;
}
.search input{
  border: none;
  background-color: rgb(233,233,233);
  
}
.search input:focus{
  outline: none;
}
.moon{
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 1.3em;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
}
.moon:hover{
  background-color: #ededed;
}
.moon input:focus{
  outline: none;
}